@model AS_CRM.Lineas_Asiento

@{
    ViewBag.Title = "Edit";
}

<h2>Modificar Asiento Numero: @Model.Id.ToString().PadLeft(8, char.Parse("0"))</h2>

<h3>Fecha: @Model.Asiento.Fecha.Value.ToShortDateString()</h3>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Asiento_Id, "Asiento_Id", htmlAttributes: new { @class = "control-label col-md-2", @disabled = "disabled" })
            <div class="col-md-10">
                @Html.DropDownList("Asiento_Id", null, htmlAttributes: new { @id = "Id", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Asiento_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cuenta_Id, "Cuenta_Id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Cuenta_Id", null, htmlAttributes: new { @id = "Id", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cuenta_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Concepto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Concepto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Concepto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Debe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Debe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Debe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Haber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Haber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Haber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
                @Html.ActionLink("Volver", "Edit", "Asientoes", new { id = Model.Asiento_Id }, new { @class = "btn btn-info" })
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
