@model IEnumerable<AS_CRM.Comprobante>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRegistracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalNeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Iva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IIBB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalBruto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.RazonSocial)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TiposComprobante.Acronimo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRegistracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalNeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Iva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IIBB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBruto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TiposComprobante.Acronimo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
