@model AS_CRM.TipoGasto

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Decea eliminar el Tipo de Gasto - @Model.Nombre?</h3>
<div>
    <h4>TipoGasto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Acronimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acronimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
