@model AS_CRM.Controllers.PaginadorGenerico<AS_CRM.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>


<button class="btn btn-primary" type="button" onclick="location.href='@Url.Action("Create", "Clientes")'">
    Agregar Cliente
    <span class="badge badge-light">@Model.TotalRegistros</span>
</button>



@using (Html.BeginForm())
{
    <div class="form-horizontal ">
        <div class="form-group ">
            <input id="btnfiltrar" type="submit" value="Buscar" class="btn btn-info pull-right" />
            @Html.TextBox("SearchString", null, new { @class = "form-control pull-right col-md-10", autocomplete = "off" })
        </div>
    </div>
}
<table class="table">
    <tr style="background-image: linear-gradient(to bottom right, #1ea9ef, #436dd0); color: white; border-bottom-width: 5px;">
        <th></th>
        <th>
            Razon Social
        </th>
        <th>
            Cuit
        </th>
        <th>
            Contacto
        </th>
        <th>
            Telefono
        </th>
        <th>
            Email
        </th>
        <th>
            Valor Hora
        </th>
        <th>
            Fecha Acuerdo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Resultado)
    {
        <tr style="background-color: white; border-left: 1px solid #1ea9ef; border-bottom: 2px solid #f7f7f7; border-bottom-width: 5px;">
            <td>
                <img src="~/Content/image/lead.png" class="btn-grid" style="zoom: 5%; padding-top: -50px;" />
            </td>
            <td style="font-weight: bold;">
                @Html.DisplayFor(modelItem => item.RazonSocial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreContacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td style="font-weight: bold;">
                $ @Html.DisplayFor(modelItem => item.ValorHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeAcuerdo)
            </td>
            <td style="width:150px">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>    


<div class="container-fluid">


    <ul class="pagination  pull-right">
        @{
            if (Model.PaginaActual > 1)
            {
                <li class="page-item">@Html.ActionLink("Anterior", "Index", new { pagina = Model.PaginaActual - 1 })</li>
            }


            if (Model.PaginaActual < Model.TotalPaginas)
            {
                <li class="page-item">@Html.ActionLink("Siguiente", "Index", new { pagina = Model.PaginaActual + 1 })</li>
            }
        }
    </ul>
</div>